@model int


<div>
    <h4>View Plane Details</h4>
    <hr />
    <dl class="row">
            <dt class="col-sm-2">
               Make
            </dt>
            <dd class="col-sm-10" data-bind="text: Make">
                
            </dd>
            <dt class="col-sm-2">
               Model
            </dt>
            <dd class="col-sm-10" data-bind="text: Model">
                
            </dd>
            <dt class="col-sm-2">
               Registration
            </dt>
            <dd class="col-sm-10" data-bind="text: Registration">
                
            </dd>
            <dt class="col-sm-2" >
                Location
            </dt>
            <dd class="col-sm-10" data-bind="text: Location">
               
            </dd>
            <dt class="col-sm-2">
                Date And Time
            </dt>
            <dd class="col-sm-10" data-bind="text: DateAndTime">
                
            </dd>

        </dl>  
    <div class="col-md-6">
    </div>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.1/knockout-latest.js" integrity="sha512-2AL/VEauKkZqQU9BHgnv48OhXcJPx9vdzxN1JrKDVc4FPU/MEE/BZ6d9l0mP7VmvLsjtYwqiYQpDskK9dG8KBA==" crossorigin="anonymous"></script>


    <script>
        $(document).ready(function () {
            var viewModel = {
             
            // Data
           };
       var url = window.location.href;
        var array = url.split('/');

        var planeId = array[array.length - 1];
        $.ajax({
            url: "/api/Details/"+planeId,
            dataType: 'json'
        }).done(function (data) {
              viewModel.Make= ko.observable(data.make),
                 viewModel.Model= ko.observable(data.model),
                 viewModel.Registration= ko.observable(data.registration),
                 viewModel.Location= ko.observable(data.location),
                 viewModel.DateAndTime= ko.observable(data.dateAndTime)
                 viewModel.image = ko.observable(data.image)
            ko.applyBindings(viewModel);

        }).error(function () {
        });
        });
    </script>
}
